@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

.nav-hero {
    background: #E3F1FF;
    background: linear-gradient(to top, #E3F1FF 30%, #F9FCFF 58%);
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    height: 900px;
    color: #111111;
    gap: 20%;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80%;
    /* width: 50%; */
}

nav button {
    font-size: 16px;
    padding: 8px 10px;
    border: 1px solid #722ED1;
    border-radius: 20px;
    width: 100px;
    font-weight: 500;
    background-color: #F9FCFF;
    color: #722ED1;
}

.trial-button {
    width: 150px;
    color: #ffffff;
    background-color: #722ED1;
}

nav button:hover {
    color: #ffffff;
    background-color: #722ED1;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 20px;
}

.nav-right p {
    font-size: 18px;
    width: 100px;
    cursor: pointer;
}

.nav-right p:hover {
    color: #722ED1;
}

.nav-right img {
    height: 20px;
    padding: 0px;
    position: absolute;
    top: 40px;
    right: 43%;
}

/* Hero Section */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 70%; */
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    position: relative;
    left: 10%;
}

.version {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #F7F1FF;
    /* height: 50px; */
    padding: 15px 20px;
    border-radius: 20px;
    /* width: 300px; */
}

.version img {
    height: 20px;
}

.version p {
    font-size: 18px;
    color: #722ED1;
    font-weight: 400;
    cursor: pointer;
}

.version p:last-child {
    text-decoration: underline;
}

.hero-left h1 {
    font-size: 60px;
    width: 50%;
}

.hero-left .hero-desc {
    color: #83878C;
    font-size: 20px;
    width: 55%;
}

.trial {
    display: flex;
    gap: 20px;
}

.trial button {
    font-size: 16px;
    padding: 15px 15px;
    border: 1px solid #722ED1;
    border-radius: 20px;
    /* width: 100px; */
    font-weight: 500;
    background-color: #F9FCFF;
    color: #722ED1;
}

.trial .trial-button {
    background-color: #722ED1;
    color: #ffffff;
}

.trial button:hover {
    background-color: #722ED1;
    color: #F7F1FF;
}

.hero-img {
    height: 120%;
    position: relative;
    right: 10%;
}

.sticky-bubble {
    position: fixed;
    bottom: 120px;
    right: 40px;
    /* width: 90px; */
    /* height: 90px; */
    cursor: pointer;
    border: 1px solid #722ED1;
    border-radius: 100%;
    padding: 5px;
    z-index: 5;
}

/* Why us */

.why-us {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.top-why {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.why-q {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F1FF;
    /* height: 40px; */
    /* width: 100px; */
    padding: 10px 20px;
    border-radius: 20px;
    gap: 20px;
}

.why-q img {
    height: 20px;
}

.why-q p {
    font-size: 20px;
    color: #722ED1;
    font-weight: 400;

}

.why-heading {
font-size: 40px;
}

.top-why h1 {
    color: #160637;
}

.why-subtext {
    color: #8989A2;
    font-size: 19px;
    width: 60%;
    text-align: center;
}

.why-us .bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    gap:20px
}

.why-items img {
    height: 60px;
}

.items-heading {
    color: #160637;
    font-size: 20px;
    font-weight: 600;
}

.items-details {
    color: #83878C;
    font-size: 17px;
    width: 60%;
    text-align: center;
}