@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

.nav-hero {
    background: #E3F1FF;
    background: linear-gradient(to top, #E3F1FF 30%, #F9FCFF 58%);
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    height: 900px;
    color: #111111;
    gap: 20%;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80%;
    /* width: 50%; */
}

nav button {
    font-size: 16px;
    padding: 8px 10px;
    border: 1px solid #722ED1;
    border-radius: 20px;
    width: 100px;
    font-weight: 500;
    background-color: #F9FCFF;
    color: #722ED1;
}

.trial-button {
    width: 150px;
    color: #ffffff;
    background-color: #722ED1;
}

nav button:hover {
    color: #ffffff;
    background-color: #722ED1;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 20px;
}

.nav-right p {
    font-size: 18px;
    width: 100px;
    cursor: pointer;
}

.nav-right p:hover {
    color: #722ED1;
}

.nav-right img {
    height: 20px;
    padding: 0px;
    position: absolute;
    top: 40px;
    right: 43%;
}

/* Hero Section */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 70%; */
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    position: relative;
    left: 10%;
}

.version {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #F7F1FF;
    /* height: 50px; */
    padding: 15px 20px;
    border-radius: 20px;
    /* width: 300px; */
}

.version img {
    height: 20px;
}

.version p {
    font-size: 18px;
    color: #722ED1;
    font-weight: 400;
    cursor: pointer;
}

.version p:last-child {
    text-decoration: underline;
}

.hero-left h1 {
    font-size: 60px;
    width: 50%;
}

.hero-left .hero-desc {
    color: #83878C;
    font-size: 20px;
    width: 55%;
}

.trial {
    display: flex;
    gap: 20px;
}

.trial button {
    font-size: 16px;
    padding: 15px 15px;
    border: 1px solid #722ED1;
    border-radius: 20px;
    /* width: 100px; */
    font-weight: 500;
    background-color: #F9FCFF;
    color: #722ED1;
}

.trial .trial-button {
    background-color: #722ED1;
    color: #ffffff;
}

.trial button:hover {
    background-color: #722ED1;
    color: #F7F1FF;
}

.hero-img {
    height: 120%;
    position: relative;
    right: 10%;
}

.sticky-bubble {
    position: fixed;
    bottom: 120px;
    right: 40px;
    /* width: 90px; */
    /* height: 90px; */
    cursor: pointer;
    border: 1px solid #722ED1;
    border-radius: 100%;
    padding: 5px;
    z-index: 5;
}

/* Why us */

.why-us {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.top-why {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.why-q {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F1FF;
    /* height: 40px; */
    /* width: 100px; */
    padding: 10px 20px;
    border-radius: 20px;
    gap: 20px;
}

.why-q img {
    height: 20px;
}

.why-q p {
    font-size: 20px;
    color: #722ED1;
    font-weight: 400;

}

.why-heading {
    font-size: 40px;
    color: #160637;
}

.why-subtext {
    color: #8989A2;
    font-size: 19px;
    width: 60%;
    text-align: center;
}

.why-us .bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    gap: 20px
}

.why-items img {
    height: 60px;
}

.items-heading {
    color: #160637;
    font-size: 20px;
    font-weight: 600;
}

.items-details {
    color: #83878C;
    font-size: 17px;
    width: 60%;
    text-align: center;
}

/* Stack Section */

.stack {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.stack img {
    height: 80%;
}

.stack-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    gap: 20px;
}

.purple {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F1FF;
    /* height: 40px; */
    /* width: 100px; */
    padding: 10px 20px;
    border-radius: 20px;
    gap: 20px;
}

.purple img {
    height: 20px;
}

.purple p {
    font-size: 20px;
    color: #722ED1;
    font-weight: 500;
}

.stack-right .stack-heading {
    font-size: 40px;
    color: #160637;
}

.stack-right .stack-subtext {
    color: #8989A2;
    font-size: 17px;
    width: 85%;
    /* text-align: left; */
}


/* Engineering Section */

.engineering {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 100px; */
}

.engineering img {
    height: 70%;
}

.engineering-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    gap: 20px;
    position: relative;
    left: 200px;
}

.engineering-heading {
    font-size: 40px;
    color: #160637;
    /* width: 100%; */
}

.engineering-subtext {
    color: #8989A2;
    font-size: 17px;
    width: 80%;
    /* text-align: left; */
}

/* Review Section */

.review {
    background: #E3F1FF;
    background: linear-gradient(to top, #E3F1FF 30%, #F9FCFF 58%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    clip-path: polygon(0 23%, 100% 0, 100% 76%, 0 100%);
    gap: 40px;
}

.review-heading {
    color: #160637;
    font-size: 25px;
    font-weight: 500;
    width: 50%;
    text-align: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px
}

.profile img {
    height: 100px;
}

.profile .name {
    font-size: 18px;
    font-weight: 600;
}

.profile .position {
    font-size: 18px;
    font-weight: 600;
}

.profile-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px
}

.logo-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    top: 15px;
    border-top: 1px solid #722ED1;
    padding-top: 20px;
}

.logo-row img {
    height: 45px;
}

/* Sign Up section */

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    gap:100px;
}

.sign-up-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 30%;
}

.sign-up-left h1 {
    font-size: 40px;
    color: #160637;
    /* width: 60%; */
    position: relative;
    left: 50px;
}

.sign-up-left .logo-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 100px;
}

.sign-up-left .logo-row .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.row img {
    height: 40px;
}

.sign-up-left p {
    color: #8989A2;
    font-size: 18px;
    border-bottom: 1px solid #8989A2;
    padding-bottom: 5px;
}

/* Sign up right */

.sign-up-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 25%;
    height: 80%;
    box-shadow: 5px 40px 4px 20px #F9F0FF;
    border-radius: 20px;
}

.sign-up-heading {
    font-size: 30px;
    font-weight: 600;
    color: #160637;
}

.sign-up-right button {
    color: #ffffff;
    background-color: #722ED1;
    font-size: 17px;
    font-weight: 400;
    padding: 15px 20%;
    border-radius: 5px;
    cursor: pointer;
}

.sign-up-right input {
    padding: 15px 20%;
    border: 0.5px solid #8989A2;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
}

.sign-up-right input::placeholder {
    font-size: 17px;
    font-weight: 400;
    position: relative;
    left: -80px;
}

.or {
    font-size: 20px;
    font-weight: 500;
}

.sign-up-right img {
    height: 70px;
    border-bottom: 1px solid #83878C;
    padding-bottom: 10px;
    cursor: pointer;
}

.optional {
    color: #8989A2;
    font-size: 15px;
    cursor:default;
}

.optional span {
    color: #722ED1;
    cursor: pointer;
}