* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.nav-hero {
    background: #E3F1FF;
    background: linear-gradient(to top, #E3F1FF 30%, #F9FCFF 58%);

}